<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me | My Todo</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
</head>

<body>
    <div class="prof-box">
        <img src="/static/images/profile-pic.png" class="prof-pic">
        <h1>Shubham Sharma</h1>
        <div class="line-break"></div>
        <p>| FULL STACK WEB DEVLOPER |</p>
        <div class="social-icons">
            <a href="https://github.com/Shubh8434" target="_blank"><i class="fab fa-github-square"></i></a>
            <a href="https://www.linkedin.com/in/shubham-sharma-he-him-366378201/" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="https://www.facebook.com/aryanraj.ranawat" target="_blank"><i class="fab fa-facebook-square"></i></a>
        </div>
    </div>

</body>

</html>