{% extends 'base.html' %}
{% block title %} Home{% endblock title %} 
{% block body %}


  <div class="container my-3">
    <h2>Add a ToDO</h2>
    <form action="/" method="POST">
      <div class="mb-3">
        <label for="title" class="form-label">ToDO-Title</label>
        <input type="text" class="form-control" name="title" id="title" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="desc" class="form-label">ToDO-Description</label>
        <input type="text" class="form-control" name="desc" id="desc">
      </div>
      <button type="submit" class="btn btn-outline-dark">Submit</button>
    </form>
  </div>
  <div class="container my-3">
    <h2>Your-ToDOS</h2>

    {% if allTodo|length == 0 %}

    <div class="alert alert-dark d-flex align-items-center" role="alert">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
        class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
        <path
          d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
      </svg>
      <div>
        No Todos found. Add your first todo now!
      </div>
    </div>
    {% else %}
    <table class="table">
      <thead class="table-dark">
        <tr>
          <th scope="col">Sl.no</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Time</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for todo in allTodo %}
        <tr>
          <th scope="row">{{loop.index}}</th>
          <td>{{todo.title}}</td>
          <td>{{todo.desc}}</td>
          <td>{{todo.date_created}}</td>
          <td>
            <a href="/update/{{todo.sno}}" type="button" class="btn btn-outline-dark btn-sm mx-1">Update</button>
              <a href="/delete/{{todo.sno}}" type="button" class="btn btn-outline-dark btn-sm mx-1">Delete</button>
          </td>
        </tr>

        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
</body>

</html>
    
{% endblock body %}